<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body ng-app="MAIN_PAGE" ng-controller="MAIN_PAGE_CONTROLLER">
<h1>Группы университета ScaleApps</h1>

<table class="table table-hover">
    <tbody class="ui-sortable">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Количество студентов</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tr ng-repeat="student_group in student_group">
        <td style="width: 5%;">{{student_group.num}}</td>
        <td style="width: 30%">{{student_group.count}}</td>
        <td style="width: 5%">
            <div class="button-group" style="align: center; width: 100%;">
                <a class="button" href="/getGroupById/id={{student_group.id_group}}">Edit</a>
            </div>
        </td>
    </tr>
</table>

<form>
    <div class="form-group">
        <label for="inputUserId">Номер новой группы</label>
        <input ng-model="student_group.num" class="form-control" id="inputUserId" required>
    </div>

    <div class="button-group">
        <button class="button" type="submit" ng-click="save_student_group()">Сохранить группу</button>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


<script type="text/javascript">
        console.log("HELLO");

        var app = angular.module("MAIN_PAGE", []);
        app.controller("MAIN_PAGE_CONTROLLER", function($scope, $http) {
            console.log("Start JS");
            $scope.student_group = [];

            $scope.getStudentGroup = function() {
                $http({
                    url: 'findGroups/',
                    method: 'GET'
                }).then(function(response){
                    $scope.student_group = response.data;
                    console.log($scope.student_group);
                })
            }

            $scope.getStudentGroup();

            $scope.save_student_group = function() {
                console.log($scope.student_group);
                $http({
                    url: '/saveGroup',
                    method: 'POST',
                    data:
                    {
                        num : $scope.student_group.num
                    }
                }).then(function(response){
                    $scope.getStudentGroup();
                    console.log(response);
                });
            }

        });

    </script>

</body>
</html>